 @font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.otf');
}
@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    .some-div {
        width: 80%;
    }
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .some-div {
        width: 100%;
    }
}

body {
    line-height: 17px;
    background-color: #E6EAE8;
}

a {
    color: #0a9891;
    text-decoration: none;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height:40px;
    background-color: #079992;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
    font-family: 'Bellota-BOldItalic', sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    text-shadow: black 2.5px 2.5px 0px;
    color: white;
}

a:hover {
    text-decoration: none;
}
nav {
    float: right;
    right: 9px;
    top: 9px;
    position: absolute;
    margin 10px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
    
}
.active {
    background-color: #fff;
}

nav a:hover {
    text-decoration: none;
    background-color: #fff;
    
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #fff;
    padding: 6px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
    font-family: 'Bellota-BoldItalic', sans-serif;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}
    
.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 170px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #079992;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #fff;
    text-shadow: black 1px 1px 0px;
    font-size: 150%;
    position: absolute;
    outline: 0;
    margin 0;
}

.post_form input[type="submit"]:active {
    padding: 6px 4px 4px 6px;
    color: black;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic {
    float: left;
    margin-right: 8px;
}

.post_profile_pic img {
    border-radius: 5px;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px; 
}
#comment_form textarea {
    border-color: #a7a2a2;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #0a9891;
    color: #ffffff;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: black 1px 1px 0px;
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #2181d4;
    border: none;
    font-family: 'Bellota-BoldItalic', sans-serif;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #2181d4;
    font-family: 'Bellota-BoldItalic', sans-serif;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
}

.like_value {
    display: inline;
    font-size: 14px;
}

.profile_left {
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #0a9891;
    border-right: 7px solid #28bdac;
    color: #fff;
    margin-right: 20px;
    font-family: 'Bellota-BoldItalic', sans-serif;
}

.profile_left img {
    min-width: 80px;
    width: 55px;
    margin: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 100px;
}

.profile_info {
    display: list-item;
    background-color: #08655a;
    width: 100%;
    padding: 10px 0 10px 0;
}

.profile_info p {
    margin: 0 0 0 20px;
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c;
}
.warning {
    background-color: #f0ad4e;
}
.default {
    background-color: #bdc3c7;
}
.success {
    background-color: #4267b2;
}
.info {
    background-color: #3498db;
}
.deep_blue {
    background-color: #0043f0;
}

.profile_left input[type="submit"] {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: 1px solid black;
    color: #fff;
}
#accept_button {
    width: 20%;
    height: 28px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #000;
    color: #fff;
    background-color: #4267b2;
}
#ignore_button {
    width: 20%;
    height: 28px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #000;
    color: #fff;
    background-color: #807e7e;
}
.delete_button {
    height: 25px;
    width: 70px;
    padding: 0;
    float: right;
    border: 1px solid #443d3d;
    border-radius: 3px;
    right: -15px;
    position: relative;
}

.profile_main_column {
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
}

.profile_info_bottom {
    margin: 10 0 0 7px;
}

#message_textarea {
    width: 80%;
    margin-right: 8px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #585656;
}

#message_submit {
    height: 40px;
    width: 120px;
    margin: 0;
    position: absolute;
    border: 1px solid #585656;
    background-color: #079992;
    color: #fff;
    border-radius: 3px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: black 1px 1px 0px;
}

.message {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
}

.message#blue {
    background-color: #4267b2;
    border-color: #29487d;
    float: right;
    margin-bottom:5px;
}

.message#grey {
    background-color: #bbb9b9;
    border-color: #736e6e;
    float: left;
    margin-bottom:5px;
    color: #272626;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}

.loaded_conversations {
    max-height: 319px;
    overflow: scroll;
}

.user_found_messages {
    border-bottom: 1px solid #585656;
    padding: 8px 8px 10px 8px;
    color: #000;
}

.user_found_messages:hover {
    background-color: #D3D3D3;
}

.user_found_messages img {
    height: 35px;
    float: left;
}

.resultDisplay {
    padding: 5px 5px 0 5px;
    height: 70px;
    border-bottom: 1px solid #585656;
}
.resultDisplay a {
    float: none;
}
.resultDisplay:hover {
    background-color: #D3D3D3;
    text-decoration: none;
}
.liveSearchProfilePic img {
    height: 50px;
    border: 0.5px solid #000;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
    font-size: 14px;
}
.liveSearchText p {
    margin-left:10px;
    font-size: 12px;
    color: #000;
}
.liveSearchText {
    font-size:14px;
    background-color: transparent;
    color: #0a9891;
    
}

.tab-content {
    margin-top: 25px;
}

.dropdown_data_window {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}

.notification_badge {
    padding: 3px 7px;
    font-size: 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #f00;
    border-radius: 10px;
    position: absolute;
    left: 5px;
    top: -5px;
}

.resultDisplayNotification {
    height: auto;
    color: #000;
    padding: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
    font-size: 85%;
    margin: 0;
}

.search {
    margin: 8px 0 0 15%;
}

.search #search_text_input {
    border: 1px solid #3e3c3c;
    float: left;
    height:25px;
    outline: 0;
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_holder {
    background-color: #F1F1F1;
    border-bottom: thin solid #3e3c3c;
    border-right: thin solid #3e3c3c;
    border-top: thin solid #3e3c3c;
    cursor: pointer;
    float: left;
    height: 25px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button_holder img {
    margin-top: 1px;
    height:20px;
}

.search_results {
    background-color: #fff;
    border: 1px solid #585656;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.search_results_footer {
    padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #585656;
    border-top: none;
    background-color: #0a9891;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search_results_footer a {
    color: #fff;
    font-family: 'Bellota-BOldItalic', sans-serif;
}

.search_result {
    padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
    float: right;
}

.searchPageFriendButtons input[type="submit"] {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.result_profile_pic {
    float: left;
    margin-right: 10px;
}

#search_hr{
    margin-bottom: 0;
}

.small_profile_pic {
	height: 55px;
    margin: 1px 12px 0 2px;
    float: left;
}

#settings_input {
	border: 1px solid #3e3c3c;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.postedImage img {
    max-height: 300px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

.library {
    font-size: 16px;
    text-align: center;
}
