.btn-xl{
    padding: 10px 30px;
    font-size: 23px;
    border-radius: 10px;
}

.background-image{
    background-image: url("article.jpg");
    background-size: 100%;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(5px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(1px);
    z-index: -1;
}


.dropsize {
				
			width: 300px;
			height: 30px;
			margin: auto;
}



.content{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: inherit;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 30px;
    font-family: American Typewriter;
    font-size: 25px;
    color: white;
    padding: 50px;
}

.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      
  }

.glyphicon-education{
    font-size: 54px;
    color: white;
}
.glyphicon-log-in{
    font-size: 20px;
}
.glyphicon-send{
    font-size: 20px;
}
.glyphicon-random{
    font-size: 20px;
}
.glyphicon-search{
    font-size: 20px;
}
.style{
    font-family: American Typewriter;
    color:white;
    background-color: darkcyan;
    background-size:100%;
    
}


.glyphicon-book{
    font-size: 30px;
    margin-left: 5%;
}
.navbar-inverse{
    background-color: darkcyan;
  
}

.nav.navbar-nav li a {
    color: white;
}


.divider-10{ 
width:100%; 
min-height:1px; 
margin-top:10px; 
margin-bottom:10px;  
display:inline-block; 
position:relative;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 70px;
}



.bg1 {
    padding-top:70px;
    color:white;
    background-color: #80deea;
}

.bg2 {
    color:white;
    background-color: #4dd0e1;
}

.bg3 {
    color:white;
    background-color: #26c6da;
}

.bg4 {
    color:white;
    background-color: #00bcd4;
}

.bg5 {
    color:white;
    background-color: #00acc1;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(Preloader_3.gif) center no-repeat #fff;
background-color: white;
}
 .dropsize{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
}
.titlenav{
        margin-top: 3%;
        margin-right: 10px;
}

 @media only screen and (max-device-width: 1500px){
    .logout{
            margin-left: 42%;
         }
}

.logout{
            margin-right: 3%;
            margin-top: 1%;
}
.padright{
         margin-right: 10px;
         padding-bottom: 3px;
                 
}         
.right {
	
        margin-right:0px;
}

 .my-block {
        
            text-align: center;
            display: table-cell;
            vertical-align: middle;
}

th {
    color: darkcyan;
}

td {
    color: black;
}

 .container-mid{
            
            margin-left: 20%;
            margin-right: 20%;
}


